{% extends "meteo/base.html" %}
{% load static %}

{% block title %}График погоды{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'meteo/scripts/tab-controller.js' %}"></script>
    <script type="text/javascript">
        function showDefaultTab() {
            document.getElementById("defaultOpen").click();
        }
        window.onload = showDefaultTab;
    </script>
{% endblock %}

{% block content %}

    {% url 'meteo:hour' 'hour' as hour_view %}
    {% url 'meteo:day' 'day' as day_view %}
    {% url 'meteo:month' 'month' as month_view %}

    <div class="charts">
        <div class="tab">
            <button class="{% if request.path == hour_view %}active{% endif %}"
                    onclick="location.href='{{ hour_view }}';">Данные за час
            </button>

            <button class="{% if request.path == day_view %}active{% endif %}"
                    onclick="location.href='{{ day_view }}';">Данные за день
            </button>
            <button class="{% if request.path == month_view %}active{% endif %}"
                    onclick="location.href='{{ month_view }}';">Данные за месяц
            </button>
        </div>
        <br/>
        <div class="tab">
            <button id="defaultOpen" class="tablinks" onclick="openChart(event, 'temperature')">Температура</button>
            <button class="tablinks" onclick="openChart(event, 'pressure')">Давление</button>
            <button class="tablinks" onclick="openChart(event, 'humidity')">Влажность</button>
        </div>

        <!-- Don't forget the "|safe"! -->
        <div id="temperature" class="tabcontent">
            <embed type="image/svg+xml" src={{ temperature_chart|safe }} height="525" width="700"/>
        </div>


        <div id="pressure" class="tabcontent">
            <embed type="image/svg+xml" src={{ pressure_chart|safe }} height="525" width="700"/>
        </div>

        <div id="humidity" class="tabcontent">
            <embed type="image/svg+xml" src={{ humidity_chart|safe }} height="525" width="700"/>
        </div>
    </div>

    <div class="data">
        <table id="meteo-table">
            <tbody>
            <tr>
                <th colspan="3" class="mainheader">Текущие показатели</th>
            </tr>
            <tr>
                <th>Температура</th>
                <th>Давление</th>
                <th>Влажность</th>
            </tr>
            <tr>
                {% if cur_meteo_data %}
                    <td>{{ cur_meteo_data.temperature }} ℃</td>
                    <td>{{ cur_meteo_data.pressure }} мм рт. ст.</td>
                    <td>{{ cur_meteo_data.humidity }} %</td>
                {% else %}
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}